// Admin Styles
@import '../common.scss';

.gutenberg-animation-editor-block {
	&,
	&__inner-blocks-wrap {
		position: relative;
	}

	&__title {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	&__tab {
		color: $green;
		left: -35px;
		position: absolute;
		top: 0;

		&:hover {
			color: lighten($green, 11%);
		}
	}
}
